ul {
    padding-left: 0;
    list-style-type: none;
    color: #41ff00;
    margin-bottom: 0;
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

input {
    border: none;
}

p {
    color: #41ff00;
    margin-bottom: 2px;
    font-family: 'Courier New', monospace;
}

#userLabel {
    padding-top: 0px;
    padding-right: 10px;
}

label {
    font-family: 'Courier New', monospace;
    color: #41ff00;
}

#resultsContainer {
    width: 1000px;
    height: 800px;
}

#userInput {
    font-family: 'Courier New', monospace;
    background-color: rgb(14, 14, 14);
    color: #41ff00;
    border: none;
    border-radius: 0;
    width: 620px;
    height: 24px;
    padding-left: 0px;
}

#userInput:focus {
    outline: none;
}